[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>
<link rel="stylesheet" href="../static/css/mystyle.css?v=0.1">

<!-- Ticker Tape Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
  <script type="application/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "Nasdaq 100"
      },
      {
        "description": "Dow Jones",
        "proName": "FOREXCOM:DJI"
      },
      {
        "description": "Russel 2000",
        "proName": "FOREXCOM:US2000"
      },
      {
        "description": "Technology 100",
        "proName": "FOREXCOM:NSXUSD"
      },
      {
        "description": "Crude Oil",
        "proName": "FOREXCOM:WTIUSD"
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "light",
    "isTransparent": false,
    "displayMode": "adaptive",
    "locale": "en"
  }
  </script>
</div>
<!-- Ticker Tape Widget END -->

<div id="vue-target" class="mb-6" v-cloak>
  <div class="center mb-5">
    <div>
      <a class="button is-link mr-1" href="[[=URL('index', signer=url_signer)]]">
        <span><i class="fa fa-home"></i> Homepage</span>
      </a>
    </div>
    <div>
      <a class="button is-warning" href="[[=URL('leaderboard', signer=url_signer)]]">
        <span><i class="fa fa-trophy"></i> Leaderboard</span>
      </a>
    </div>
  </div>
  <h1 class="title center">My Portfolio<i class="fa fa-folder-open mt-1 ml-2" aria-hidden="true"></i></h1>
  <div class="center mb-6">
    <h4 class="title is-4 mr-6">Account Balance: {{f_balance}}</h1>
    <h4 class="title is-4 mr-3">Account Value: {{value}}</h1>
    <a class="button is-primary is-small" @click="load_stocks(stocks)">
      <span><i class="fa fa-refresh"></i> Refresh</span>
    </a>
  </div>

  <!-- Stocks Table BEGIN -->
  <h4 class="title is-4 center">Current Positions</h4>
  <div class="center mb-6">
    <table class="table is-bordered is-hoverable">
      <tr>
        <th>Stock Ticker</th>
        <th>Amount Holding</th>
        <th>Average Price</th>
        <th>Current Price</th>
        <th>Unrealized Gain/Loss</th>
      </tr>
      <tr v-for="stock in stocks">
        <td>{{stock.ticker}}</td>
        <td>{{stock.holding}}</td>
        <td><i v-if="stock.loading" class="fa fa-spinner fa-pulse"></i>{{stock.f_average}}</td>
        <td><i v-if="stock.loading" class="fa fa-spinner fa-pulse"></i>{{stock.f_current}}</td>
        <td :class="{'is-success': stock.positive, 'is-danger': stock.negative}">
          <i v-if="stock.loading" class="fa fa-spinner fa-pulse"></i><strong>{{stock.unrealized}}</strong>
        </td>
      </tr>
    </table>
  </div>
  <!-- Stocks Table END -->

  <!-- Transactions Table BEGIN -->
  <h4 class="title is-4 center">Transaction History</h4>
  <div class="center mb-4">
    <table class="table is-bordered is-hoverable">
      <tr>
        <th>Stock Ticker</th>
        <th>Transaction Time</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Cost</th>
      </tr>
      <tr v-for="transaction in transactions">
        <td>{{transaction.ticker}}</td>
        <td>{{transaction.time}}</td>
        <td>{{transaction.quantity}}</td>
        <td><i v-if="transaction.loading" class="fa fa-spinner fa-pulse"></i>{{transaction.f_price}}</td>
        <td :class="{'is-success': transaction.positive, 'is-danger': transaction.negative}">
          <i v-if="transaction.loading" class="fa fa-spinner fa-pulse"></i><strong>{{transaction.cost}}</strong>
        </td>
      </tr>
    </table>
  </div>
  <!-- Transactions Table END -->
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_stocks_url = "[[=XML(get_stocks_url)]]";
  let get_transactions_url = "[[=XML(get_transactions_url)]]";
  let update_value_url = "[[=XML(update_value_url)]]";
</script>
<script src="js/portfolio.js"></script>
[[end]]
